table.customTableClass {
  background-color: #FCFCFC;
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
}
table.customTableClass td, table.customTableClass th {
  border: 1px solid #AAAAAA;
}
table.customTableClass tr:nth-child(even) {
  background: #DBDBDB;
}
table.customTableClass thead {
  background: #696969;
}
table.customTableClass thead th {
  font-size: 20px;
  font-weight: normal;
  color: #FFFFFF;
}
